<!DOCTYPE html>
<html>
<head>
  <title>Unit3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- flash.each do |name, message| %>
	<p><i><%= "#{name}: #{message}" %></i></p>
<% end %>

<h1>CSCI 100: Fun with Computers</h1>

<%= yield %>

<%= render "footer" %>

</body>
</html>
