<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grocery.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @grocery.department %>
</p>

<p>
  <strong>Price:</strong>
  <%= @grocery.price %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @grocery.inventory %>
</p>

<%= link_to 'Edit', edit_grocery_path(@grocery) %> |
<%= link_to 'Back', groceries_path %>
